@import "global";
@import "space-objects";
@include scroll;
.home{
    @include body-default;
}

.top{
    @include header-default;
}

.mid{
    @include main-default;
    @include panel;

    .content{
        position: relative;
        height: 100%;

        .page{
            padding: 5%;
            padding-left: 10%;
            padding-right: 10%;
            height: 75%;

            &.certificados{
                overflow-y: scroll;
            }
        }

        .skills{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            .iconDiv{
                text-align: center;
                transition: all .1s;
                width: 33%;
                &:hover{
                    transform: scale(1.1);
                    text-shadow: 0 0 20px rgba(255,255,255,.6);
                }
                
                .iconsSkills{
                    &::before{
                        font-size: 3.5rem;
                    }
                    
                }
            }
        }

        .linguas{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;

            .iconDiv{
                text-align: center;
                transition: all .1s;
                width: 33%;
                &:hover{
                    transform: scale(1.1);
                    text-shadow: 0 0 20px rgba(255,255,255,.6);
                }
                
                .iconsLinguas{
                    height: 5rem;
                }
            }
        }

        .projetos{
            display: flex;
            align-items: center;
            justify-content: space-around;
            flex-wrap: wrap;
            overflow-y: scroll;

            .projetoDiv{
                text-align: center;
                transition: all .1s;
                width: 33%;
                &:hover{
                    transform: scale(1.05);
                    text-shadow: 0 0 20px rgba(255,255,255,.6);
                }
                
                .imgProjetos{
                    width: 100%;
                }
            }
        }

        .links{
            display: flex;
            align-items: center;
            justify-content: space-around;

            .iconDiv{
                cursor: pointer;
                text-align: center;
                transition: all .1s;
                &:hover{
                    transform: scale(1.1);
                    text-shadow: 0 0 20px rgba(255,255,255,.6);
                }
                
                .iconsLinks{
                    &::before{
                        font-size: 3.5rem;
                    }
                    
                }
            }

        }

        section:not(#pageActive){
            display: none;
        }

        .title{
            font-family: "SF-Fourche";
            text-shadow: 0 0 20px rgba(255,255,255,.6);
            line-height: 100%;
            font-size: 1.75rem;
        }

        .paragrath{
            font-size: 1.25rem;
            line-height: 100%;
        }

        .div-button{
            position: absolute;
            bottom: 5%;
            right: 5%;
            text-align: center;
            cursor: pointer;

            &:hover{
                text-shadow: 0 0 20px rgba(255,255,255,.6);
                transform: translateX(15%);
            }

            .icon{
                &::before{
                    font-size: 3rem;
                }
            }
        }

        .certificateDiv{
            justify-items: center;
            display: flex;
            flex-wrap: wrap;
            align-content: center;
            
            .certificate{
                background-color: rgba($color: #0e6676, $alpha: 0.3);
                border-radius: 3%;
                display: grid;
                width: 38%;
                grid-template-columns: 128px 1fr;
                grid-template-rows: 1fr;
                justify-items: center;
                justify-items: center;
                align-items: center;
                padding: 5%;
                cursor: pointer;
                transition: all .1s;
                margin: 1%;

                &:hover{
                    transform: translateY(1%);
                }

                .certificateImg{
                    text-align: center;
                    grid-column-start: 1; 
                    grid-column-end: 2; 
                    grid-row-start: 1; 
                    grid-row-end: 4; 
                }

                .certificateTitle{
                    text-align: center;
                    grid-column-start: 2; 
                    grid-column-end: 3; 
                    grid-row-start: 1; 
                    grid-row-end: 4; 
                }
            }
        }


        .ti-cursor{
            font-family: "SF-Fourche";
            text-shadow: 0 0 20px rgba(255,255,255,.6);
            font-size: 1.75rem !important;
        }
            
    }
}

.bot{
    @include footer-default;
    @include panel;

    .content{
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .link{
            padding-bottom: 0.5rem;
            transition: all 0.5s;
            margin-bottom: -1px;

            &:hover{
                text-shadow: 0 0 20px rgba(255,255,255,.6);
                cursor: pointer;
                border-bottom: 1px dashed rgba(255,255,255,.6);
            }

            &#linkActive{
                text-shadow: 0 0 20px rgba(255,255,255,.6);
                border-bottom: 1px dashed rgba(255,255,255,.6);
            }
        }   
    }
}