.menu {
    position: fixed;
    left: 0;
    height: 15vh;
    width: 100%;
    z-index: 200;
    bottom: 0;
    text-align: center;
    border-image-source: url(../../assets/panel.png);
    border-image-slice: 40 30 fill;
    border-image-width: 40px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.menu button {
    all: unset;
    padding-bottom: 0.5rem;
    transition: all 0.5s;
    margin-bottom: -1px;
    display: block;
    font-size: 1.25rem;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0;
    margin-inline-end: 0;
    font-weight: bold;
    unicode-bidi: isolate;
    text-transform: uppercase;
}

.menu button:hover {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    cursor: pointer;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
}

.menu button.active {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
    border-bottom: 1px dashed rgba(255, 255, 255, 0.6);
}