main {
    padding: 2rem;
    text-align: center;

    height: 55vh;
    width: 65%;
    margin: 13vh auto 0;
    z-index: 200;
    position: relative;
    border-image: url(../../assets/panel.png) 40 30 fill / 40px 30px;
    border-color: white;
    overflow: hidden;
}

main .content {
    position: relative;
    height: 100%;
}

.page {
    height: 100%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    overflow: auto;

}


