main {
    padding: 2rem;
    text-align: center;

    height: 55vh;
    width: 65%;
    margin: 13vh auto 0;
    z-index: 200;
    position: relative;
    border-image-source: url(../../assets/panel.png);
    border-image-slice: 40 30 fill;
    border-image-width: 40px 30px;

    overflow: hidden;
}

main .content {
    position: relative;
    height: 100%;
}

.page {
    height: 100%;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    overflow: auto;

}


