main {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

main {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;

  height: 55vh;
  width: 65%;
  margin: 13vh auto 0;
  z-index: 200;
  position: relative;
  border-image-source: url(../../assets/panel.png);
  border-image-slice: 40 30 fill;
  border-image-width: 40px 30px;
}

main .content {
  position: relative;
  height: 100%;
}

main .content .page {
  padding: 5%;
  padding-left: 10%;
  padding-right: 10%;
  height: 75%;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

main .content .page.certificados {
  overflow-y: scroll;
}

main .content .skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .content .skills .iconDiv {
  text-align: center;
  transition: all .1s;
  width: 33%;
}

main .content .skills .iconDiv:hover {
  transform: scale(1.1);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

main .content .skills .iconDiv .iconsSkills::before {
  font-size: 3.5rem;
}

main .content .linguas {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

main .content .linguas .iconDiv {
  text-align: center;
  transition: all .1s;
  width: 33%;
}

main .content .linguas .iconDiv:hover {
  transform: scale(1.1);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

main .content .linguas .iconDiv .iconsLinguas {
  height: 5rem;
}

main .content .projetos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  overflow-y: scroll;
}

main .content .projetos .projetoDiv {
  text-align: center;
  transition: all .1s;
  width: 33%;
}

main .content .projetos .projetoDiv:hover {
  transform: scale(1.05);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

main .content .projetos .projetoDiv .imgProjetos {
  width: 100%;
}

main .content .links {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

main .content .links .iconDiv {
  cursor: pointer;
  text-align: center;
  transition: all .1s;
}

main .content .links .iconDiv:hover {
  transform: scale(1.1);
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

main .content .links .iconDiv .iconsLinks::before {
  font-size: 3.5rem;
}

main .content .title {
  font-family: "SF-Fourche";
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  line-height: 100%;
  font-size: 1.75rem;
}

main .content .paragrath {
  font-size: 1.25rem;
  line-height: 100%;
}

main .content .certificateDiv {
  justify-items: center;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}

main .content .certificateDiv .certificate {
  background-color: rgba(14, 102, 118, 0.3);
  border-radius: 3%;
  display: grid;
  width: 38%;
  grid-template-columns: 128px 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
  justify-items: center;
  align-items: center;
  padding: 5%;
  cursor: pointer;
  transition: all .1s;
  margin: 1%;
}

main .content .certificateDiv .certificate:hover {
  transform: translateY(1%);
}

main .content .certificateDiv .certificate .certificateImg {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

main .content .certificateDiv .certificate .certificateTitle {
  text-align: center;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
}

main .content .ti-cursor {
  font-family: "SF-Fourche";
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
  font-size: 1.75rem !important;
}



