.languages {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    position: relative;
    height: 100%;
}

.languages .language {
    text-align: center;
    transition: all .1s;
    width: 33%;
}

.languages .language:hover {
    transform: scale(1.1);
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.6);
}

.languages .language .iconsLanguages {
    height: 5rem;
}